.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px 18px;
    border: 1px solid var(--c-2);
    border-radius: 4px;

    background: transparent;

    font-weight: 600;
    font-size: 16px;
    line-height: calc(19/14);
    color: var(--c-2);

    white-space: nowrap;

    @include laptop {
        padding: 10px 15px;
        font-size: 14px;
    }

    @include tablet {
        padding: 7px 10px;
    }

    &:hover,
    &:focus {
        background: var(--c-2);

        color: #fff;
        transition: all .2s ease;
    }

    &:active {
        background: var(--c-2-d);
        transition: all .2s ease;
    }

    &_small {
        padding: 6px 14px;
        font-size: 14px;

        @include laptop {
            padding: 5px 10px;
        }

        @include tablet {
            padding: 5px 15px;
        }
    }

    &_big {
        padding: 14px 24px;
    }

    &_filled {
        background: var(--c-2);

        color: #fff;

        &:hover,
        &:focus {
            background: var(--c-2-d)
        }

        &:active {
            background: var(--c-2-dd);
        }
    }

    &_alt {
        color: #fff;
        border-color: #fff;
    }
}


.btn-close {
    position: relative;

    width: 20px;
    height: 20px;

    border: none;
    background: transparent;

    span {
        position: absolute;
        top: 50%;
        left: 50%;

        display: block;

        width: 15px;
        height: 2px;
        border-radius: 1px;

        background: #BDC0D3;

        transform: translate(-50%, -50%);
    }

    span:nth-child(1) {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    span:nth-child(2) {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}
