.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px 18px;
    border: 1px solid var(--c-2);
    border-radius: 4px;

    background: transparent;

    font-weight: 600;
    font-size: 16px;
    line-height: calc(19/14);
    color: var(--c-2);

    white-space: nowrap;

    @include laptop {
        padding: 10px 15px;
        font-size: 14px;
    }

    @include tablet {
        padding: 7px 10px;
    }

    &:hover,
    &:focus {
        background: var(--c-2);

        color: #fff;
        transition: all .2s ease;
    }

    &:active {
        background: var(--c-2-d);
        transition: all .2s ease;
    }

    &_small {
        padding: 6px 14px;
        font-size: 14px;

        @include laptop {
            padding: 5px 10px;
        }

        @include tablet {
            padding: 5px 15px;
        }
    }

    &_big {
        padding: 14px 24px;
    }

    &_filled {
        background: var(--c-2);

        color: #fff;

        &:hover,
        &:focus {
            background: var(--c-2-d)
        }

        &:active {
            background: var(--c-2-dd);
        }
    }

    &_alt {
        color: #fff;
        border-color: #fff;
    }

    &.blue {
        border: 1px solid #53A6DB;
        color: #53A6DB;

        svg {
            fill: #53A6DB
        }

        &:hover {
            border: 1px solid #2E8ADF;
            color: #2E8ADF;

            svg {
                fill: #2E8ADF
            }
        }

        &:active,
        &:focus,
        &:hover {
            background: transparent;
        }
    }

    &.green {
        border: 1px solid #41C345;
        color: #41C345;

        svg {
            fill: #41C345;
        }

        &:hover {
            border: 1px solid #2C8B2F;
            color: #2C8B2F;

            svg {
                fill: #2C8B2F;
            }
        }

        &:active,
        &:focus,
        &:hover {
            background: transparent;
        }
    }
}

.btn-circle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 124px;
    height: 124px;
    border: 1px solid rgba(211, 40, 45, 0.06);
    border-radius: 100%;

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 110px;
        height: 110px;
        border-radius: 100%;

        background: #E2463C;
        box-shadow: 0px 22px 57px rgba(130, 35, 29, 0.28);

        font-weight: 700;
        font-size: 14px;
        line-height: 107%;
        text-align: center;
        color: #fff;

        transition: cubic-bezier(0.165, 0.84, 0.44, 1) .15s all;
    }

    &:hover,
    &:focus {
        .btn-circle__text {
            background: #B6241B;

            color: #fff;

            transition: cubic-bezier(0.165, 0.84, 0.44, 1) .3s all;
        }
    }

    &:active {
        .btn-circle__text {
            background: #a61f18;

            transition: cubic-bezier(0.165, 0.84, 0.44, 1) .3s all;
        }
    }

    &_alt {
        border: 1px solid rgba(255, 255, 255, 0.06);

        &:hover,
        &:focus {
            .btn-circle__text {
                background: #0D1238;
                box-shadow: 0px 22px 71px rgba(21, 6, 5, 0.22);

                color: #fff;
            }
        }

        &:active {
            .btn-circle__text {
                background: #090d28;
                box-shadow: 0px 22px 71px rgba(21, 6, 5, 0.22);
            }
        }

        .btn-circle {
            &__text {
                color: #0D1238;
                background: #fff;
                box-shadow: 0px 22px 71px rgba(21, 6, 5, 0.22);
            }
        }
    }
}

.btn-close {
    position: relative;

    width: 20px;
    height: 20px;

    border: none;
    background: transparent;

    span {
        position: absolute;
        top: 50%;
        left: 50%;

        display: block;

        width: 15px;
        height: 2px;
        border-radius: 1px;

        background: #BDC0D3;

        transform: translate(-50%, -50%);
    }

    span:nth-child(1) {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    span:nth-child(2) {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.yt-btn {

    width: 322px;
    padding: 27px 25px;
    display: flex;
    align-items: center;

    background: linear-gradient(269.02deg, #FC9E48 -20.62%, #E45526 13.39%, #E42B1E 106.31%), #5C5C5C;
    box-shadow: 0px 18px 65px rgba(162, 29, 33, 0.88);
    border-radius: 20px;

    transition: cubic-bezier(0.19, 1, 0.22, 1) .3s all;

    @include phone-big {
        width: 100%;
    }

    @include phone {
        width: calc(100vw - 30px);
    }

    &:hover {
        box-shadow: 0px 9px 32px rgba(162, 29, 33, 0.88);

        animation: Animation 0.3s ease infinite;
    }

    &:active {
        background: linear-gradient(88.16deg, #f08827 -9.75%, #E45526 25.38%, #E42B1E 121.37%), #5C5C5C;
    }

    &__body {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }

    &__title {
        margin-bottom: 5px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
    }

    &__text {

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #FFFFFF;
    }


}


@keyframes Animation {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}



.active-badge {
    border: 1px solid #0D1238;
    border-radius: 33px;
    padding: 8px 12px;

    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    color: #0D1238;

    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s all;

    &:hover {
        color: #fff;
        border: 1px solid var(--c-2-d);
        background: var(--c-2-d);
    }

    &.active {
        color: #fff;
        border: 1px solid var(--c-2);
        background: var(--c-2);
    }
}