.input {
    display: block;

    padding: 20px 25px;

    background: #F4F6F8;
    border-radius: 4px;
    border: 1px solid transparent;

    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .3s all;

    color: var(--f-c-1);

    @include laptop {
        padding: 15px 20px;
        font-size: 12px;
    }

    @include phone-big {
        font-size: 14px;
        padding: 16px;
    }

    &:hover {
        border: 1px solid var(--c-2);
        caret-color: var(--c-2);
    }

    &:focus {
        border: 1px solid var(--c-2);
        caret-color: var(--c-2);
    }

    &::placeholder {
        color: #B8BEC7;
    }
}
