.title {
    margin: 0;

    font-weight: normal;
    font-size: 70px;
    line-height: calc(70/70);
    color: var(--f-c-1);
    text-transform: uppercase;

    @include laptop-big {
        font-size: 50px;
    }

    @include laptop {
        font-size: 38px;
    }

    @include tablet {
        font-size: 24px;
    }

    @include phone-big {
        font-size: 32px;
    }

    &_alt {
        color: #fff;
    }
}


.subtitle {

    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: calc(35/25);
    color: var(--f-c-1);

    @include laptop {
        font-size: 20px;
    }

    @include tablet {
        font-size: 16px;
    }

    @include phone-big {
        font-size: 18px;
    }
}