.title {
    margin: 0;

    font-weight: normal;
    font-size: 70px;
    line-height: calc(70/70);
    color: #0D1238;
    text-transform: uppercase;

    @include laptop-big {
        font-size: 50px;
    }

    @include laptop {
        font-size: 38px;
    }

    @include tablet {
        font-size: 24px;
    }

    @include phone-big {
        font-size: 32px;
    }

    &_sign {
        font-style: italic;
        font-size: inherit;
        line-height: inherit;
        color: var(--c-2);
    }

    &_newline {
        display: block;
        padding-left: 100px;

        line-height: 1.2;

        @include tablet {
            padding-left: 40px;
        }
    }

    &_alt {
        color: #fff;
    }

    &__ladder {

        font-size: 50px;
        line-height: 1.2;

        @include laptop-big {
            font-size: 44px;
        }

        @include laptop {
            font-size: 30px;
        }

        @include tablet {
            font-size: 29px;
        }

        .title__ladder-row {
            display: block;

            &:nth-of-type(2) {
                padding-left: 90px;

                @include laptop-big {
                    padding-left: 70px;
                }

                @include laptop {
                    padding-left: 50px;
                }

                @include tablet {
                    padding-left: 0;
                }
            }

            &:nth-of-type(3) {
                padding-left: 215px;

                font-style: italic;

                @include laptop-big {
                    padding-left: 180px;
                }

                @include laptop {
                    padding-left: 100px;
                }

                @include tablet {
                    padding-left: 40px;
                }
            }
        }
    }
}

.subtitle {

    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: calc(35/25);
    color: #0D1238;

    @include laptop {
        font-size: 20px;
    }

    @include tablet {
        font-size: 16px;
    }

    @include phone-big {
        font-size: 18px;
    }

    .sign {
        font-style: italic;
        color: var(--c-2);
    }
}