.header {
    width: 100%;
    padding: 20px 0;

    @include laptop-big {
        padding: 15px 0;
    }

    @include tablet {
        padding: 10px 0;
    }

    @include phone-big {
        padding: 8px 0;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    &__item {
        flex-grow: 0;
        flex-shrink: 1;
    }

    &__item-main {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}