$c-1                 : #9224d6;
$c-1-d               : #7a20b3;
$c-1-dd              : #6d1aa1;

$c-2                 : #E2463C;
$c-2-d               : #c43d34;
$c-2-dd              : #ac251b;

$c-3                 : #C9E4E8;
$c-3-d               : #98C2D1;
$c-3-dd              : #62B7D8;
$c-3-ddd             : #33C1D4;
$c-3-dddd            : #339DCC;


// Optional
$c-success                  : #26de81;
$c-danger                   : #fc5c65;
$c-active                   : #05a1e9;
$c-warning                  : #fed330;
$c-disabled                 : #999999;



// General project settings, so for the most high-level configuration. (global-variables, custom properties)
$f-f-global      : 'Montserrat', Roboto, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$f-f-poppins     : 'Poppins', Roboto, Segoe UI, Helvetica, Arial, sans-serif;
$f-f-default     : -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

$f-w-global      : 400;
$f-s-global      : 16px;
$f-lh-global     : calc(21/15);
$f-c-global      : #3d3d3d;

$f-c-1           : #0D1238;


:root {

    // Font variables
    --f-f-global: #{$f-f-global};
    --f-f-gilroy: #{$f-f-poppins};
    --f-f-default: #{$f-f-default};

    --f-w-global: #{$f-w-global};
    --f-s-global: #{$f-s-global};
    --f-lh-global: #{$f-lh-global};

    --f-c-global: #{$f-c-global};
    --f-c-1: #{$f-c-1};


    // Colors variables
    --c-1: #{$c-1};
    --c-1-d: #{$c-1-d};
    --c-1-dd: #{$c-1-dd};

    --c-2: #{$c-2};
    --c-2-d: #{$c-2-d};
    --c-2-dd: #{$c-2-dd};

    --c-3: #{$c-3};
    --c-3-d: #{$c-3-d};
    --c-3-dd: #{$c-3-dd};
    --c-3-ddd: #{$c-3-ddd};
    --c-3-dddd: #{$c-3-dddd};

    --c-success: #{$c-success};
    --c-danger: #{$c-danger};
    --c-active: #{$c-active};
    --c-warning: #{$c-warning};
    --c-disabled: #{$c-disabled};
    
}