   // DEFAULT STATE
   &.burger.burger-default {
    .navbar__content {
        @include tablet {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
    }

    .navbar__list {
        @include tablet {
            right: -100%;
        }
    }

    .burger__switcher {
        span.icon-switcher {
            display: block;
        }
    }
}

// ACTIVE STATE
&.burger.burger-active {
    .navbar__content {
        @include tablet {
            opacity: 1;
            pointer-events: all;
            visibility: visible;
            transition: all .5s ease;
        }
    }

    .navbar__list {
        @include tablet {
            right: 0;

            transition: all .3s ease;
        }
    }

    .burger__switcher {
        @include tablet {
            z-index: 8;
        }

        span.icon-switcher {
            position: absolute;
            left: 50%;
            top: 50%;

            height: 4px;
            background: #000;

            transform: translate(-50%, -50%) rotateZ(45deg);
            transform-origin: center;
            transition: transform .3s ease;
        }

        span.icon-switcher:nth-child(2) {
            transform: translate(-50%, -50%) rotateZ(-45deg);
        }

        span.icon-switcher:nth-child(3) {
            display: none;
        }
    }
}