.footer {

    margin-top: 60px;
    padding: 80px 0 60px;

    background: #370759;

    @include tablet {
        margin: 0;
    }

    @include phone-big {
        margin: 0 -10px;
        padding: 0 10px;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 20px;

        margin-bottom: 50px;

        @include laptop-big {
            margin-bottom: 30px;
        }
    }

    &__hr {
        margin-bottom: 20px;
    }

    &__moreover {
        display: flex;
        justify-content: space-between;

        &__text {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: calc(20/12);
            color: #dadbe7;

            @include phone-big {
                font-size: 9px;
            }
        }
    }
}