<li class="navbar__list-item">
    <div class="dropdown">
        <span class="navbar__list-link dropdown__case">Услуги</span>
        <div class="dropdown__content">
            <a href="/" class="dropdown__link">Индивидуальные проекты</a>
            <a href="/" class="dropdown__link">Застройка выставок</a>
            <a href="/" class="dropdown__link">Аренда левитационных стоек и платформ</a>
            <a href="/" class="dropdown__link">Левитационные сувениры Flystand</a>
            <a href="/" class="dropdown__link">Кейтеринг и левитация</a>
            <a href="/" class="dropdown__link">Левитационные стенды для промо акций</a>
        </div>
    </div>
</li>